@model DFLSecurityTurism_0._2.Models.Inquérito

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inquérito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipodeestabelecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipodeestabelecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantoscertificadosdesegurançatem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantoscertificadosdesegurançatem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quaissão)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quaissão)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueMecanismosdesegurançaoestabelecimentoutiliza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueMecanismosdesegurançaoestabelecimentoutiliza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantosequipamentosdesegurançaoestabelecimentoutiliza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantosequipamentosdesegurançaoestabelecimentoutiliza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quaissãoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quaissãoo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
