@model IEnumerable<DFLSecurityTurism_0._2.Models.Inquérito>

@{
    ViewData["Title"] = "Inquérito";
}

<div class="text-center">
    <h1 class="text-uppercase">
        Inquérito
    </h1>
</div>

<h4 class="text-center text-info">
    Ajude-nos a melhorar a nossa plataforma, atualizando as
    informações acerca das medidas de segurança
    e higiene, no seu estabelecimento.
</h4>

<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Responder inquérito</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TipoDeEstabelecimento)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.QuantosCertificadosDeSegurançaTem)</th>
            <th>@Html.DisplayNameFor(model => model.QuaisSão)</th>
            <th>@Html.DisplayNameFor(model => model.QueMecanismosDeSegurançaOEstabelecimentoUtiliza)</th>
            <th>@Html.DisplayNameFor(model => model.QuantosEquipamentosDeSegurançaOEstabelecimentoUtiliza)</th>
            <th>@Html.DisplayNameFor(model => model.QuaisSãoOsEquipamentosDeSegurançaQueTem)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var inquérito in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@inquérito.Imagem"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @inquérito.TipoDeEstabelecimento
                </td>
                <td>@inquérito.Nome</td>
                <td>@inquérito.QuantosCertificadosDeSegurançaTem</td>
                <td>@inquérito.QuaisSão</td>
                <td>@inquérito.QueMecanismosDeSegurançaOEstabelecimentoUtiliza</td>
                <td>@inquérito.QuantosEquipamentosDeSegurançaOEstabelecimentoUtiliza</td>
                <td>@inquérito.QuaisSãoOsEquipamentosDeSegurançaQueTem</td>
            </tr>
        }
    </tbody>
</table>