@model List<DFLSecurityTurism_0._2.Models.Hotel>

@{
    ViewData["Title"] = "Hóteis";
}

<div class="text-center">
    <h1 class="text-uppercase">
        Hotéis
    </h1>
</div>

<div class="row">
    @{
        if (Model != null & Model.Count > 0)
        {

            foreach (var hotel in Model)
            {
        <div class="col-md-6">
            <h1>@hotel.Nome </h1>
            <img src="~/imagensH/@hotel.Imagem" alt="" style=" width:500px; height:350px" />
            <p>@hotel.Descrição1 </p>
            <p>@hotel.Descrição2 </p>
            <p>@hotel.Descrição3 </p>
            <p>@hotel.Descrição4 </p>
            <p>@hotel.Descrição5 </p>

        </div>
            }
        }
        else
        {
            <div style="text-align:center">
                <p>Nenhum hotel registado.</p>
            </div>
        }
    }
</div>



